@font-face {
	font-family: 'Nexa Rust';
	src: url('/font/NexaRustSlab-BlackShadow01-Free-webfont.eot');
	src: url('/font/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
	font-weight: normal;
	font-style: normal;
}
