form {
	background-color: $secondaryColor;
	padding: 1rem;
	text-align: center;
	border: 4px double $primaryColor;
}

label {
	display: block;
	margin-bottom: 1rem;
}

input, button {
	padding: 0.25rem 1rem;
	font-family: $textFont;
	font-size: 1.2rem;
	background: $primaryColor;
	color: $secondaryColor;
	border: none;

	box-shadow: none;
	transition: 0.2s box-shadow ease;

	&:hover,
	&:focus,
	&:active {
		box-shadow: 0 0 4px 2px $primaryColor;
		outline: 0;
	}
}

button {
	cursor: pointer;
}
