@import '../node_modules/include-media/dist/_include-media.scss';

@import 'settings';
@import 'fonts';

@import 'forms';
@import 'cards';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: $bodyBgColor;
	font-family: $textFont;
	font-size: 1.4rem;
}

.settings {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.game {
	opacity: 1;
	position: relative;
	background-color: $bodyBgColor;
	height: 100vh;
	overflow: auto;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.toolbar {
	@extend form;
}
